@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url('./assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf');
}

@font-face {
  font-family: "Clash";
  src: url('./assets/fonts/NibPro-Regular.ttf');
}

@font-face {
  font-family: "clasher";
  src: url('./assets/fonts/ClashGrotesk_Complete/Fonts/TTF/ClashGrotesk-Variable.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fafafa;
  max-width: 1500px;
  border-left: 1px solid #0a0a0a;
  border-right: 1px solid #0a0a0a;
}

.hero_header{
  font-family: "Clash", sans-serif;
}

.nav_header{
  font-family: "clasher";
}

section{
  width: 100%;
  padding: 32px 30px;
}
